body{
	background-color: silver;
	font-size: 14px;
}
.table{
	margin:auto;
	margin-top: 3%;
	height: 520px;
	width: 400px;
	background-color: lightskyblue;
	border: 1px solid white;
	border-radius: 10px;
}
h2{
	text-align: center;
	margin-left: 40px;
	margin-bottom: -10px;
}
.btn{
	padding: 12px;
	background-color:lightblue;
	color: black;
	width: 300px;
	margin-left: 40px;
	border-radius: 20px;
}
.btn:hover{
	padding: 12px;
	background-color:lightskyblue;
	color: black;
	width: 300px;
	margin-left: 40px;
	border-radius: 20px;
}
.hero{
	margin-top: -50px;
	margin-left: 40px;
	margin-top: 1px;
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.frmdaftar{
	margin:auto;
	margin-top:0px;
	background-color:lightskyblue;
	color:black;
	width: 400px;
	height: 500px;
	border: 5px solid white;
	border-radius: 10px;
}
h3{
	font-weight: bold;
	color: black;
	margin-top: -10px;
	margin-bottom: -1px;
}
tr{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.btnsimpan{
	background-color:lightblue;
	color: black;
	padding: 12px;
	border:1px solid lightskyblue;
	border-radius: 12px;
	width: 300px;
	cursor: pointer;
}
.btnsimpan:hover{
	background-color:lightskyblue;
	color: black;
	padding: 12px;
	border:1px solid;
	border-radius: 12px;
	width: 300px;
	cursor: pointer;
}
.btnkembali{
	background-color:lightblue;
	color: black;
	padding: 12px;
	border:1px solid lightskyblue;
	border-radius: 12px;
	width: 300px;
	cursor: pointer;
	margin-top: 0px;
}
.btnkembali:hover{
	background-color:lightskyblue;
	color: blue;
	padding: 12px;
	border:1px solid;
	border-radius: 12px;
	width: 300px;
	cursor: pointer;
	margin-top: 0px;
}
.input{
	border: 1px dashed white;
	width: 400px;
	height: 30px;
	border-radius: 10px;
}
.datausr{
	margin:auto;
	background-color: black;
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.frmlogin{
	width: 370px;
	height: 370px;
	border:1px solid white;
	border-radius: 10px;
	background-color:lightskyblue;
	margin:9% auto;
	opacity: 0.8;
}
.inputlogin{
	border: 1px dashed white;
	border-radius: 8px;
	width: 370px;
	height: 30px;
}
.ceksld{
	margin-top: 25px;
	margin-left: -180px;
	padding: 10px;
	background-color: lightblue;
	color: black;
	border-radius: 20px;
}
.ceksld:hover{
	margin-top: 25px;
	margin-left: -180px;
	padding: 10px;
	background-color: lightskyblue;
	color: black;
	border-radius: 20px;
}
.cektrf{
	margin-top: 25px;
	margin-left: -337px;
	padding: 10px;
	background-color: lightblue;
	color: black;
	border-radius: 20px;
}
.cektrf:hover{
	margin-top: 25px;
	margin-left: -337px;
	padding: 10px;
	background-color: lightskyblue;
	color: black;
	border-radius: 20px;
}
.cekstr{
	margin-top: 25px;
	margin-left: -158px;
	padding: 10px;
	background-color: lightblue;
	color: black;
	border-radius: 20px;
}
.cekstr:hover{
	margin-top: 25px;
	margin-left: -158px;
	padding: 10px;
	background-color: lightskyblue;
	color: black;
	border-radius: 20px;
}
.cekklr{
	margin-top: 25px;
	margin-left: -158px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: lightblue;
	color: black;
	border-radius: 20px;
}
.cekklr:hover{
	margin-top: 25px;
	margin-left: -158px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: lightskyblue;
	color: black;
	border-radius: 20px;
}